html {
  scroll-behavior: smooth;
}
a {
  color: #000;
}
a:hover {
  color: #000;
}
@media only screen and (max-width: 1024px) {
  .prs {
    margin-left: -22rem;
  }
}
@media only screen and (max-width: 900px) {
  .headline {
    margin-left: -12rem;
  }
}
@media only screen and (max-width: 768px) {
  .bg-color {
    width: 122%;
  }
  .headline {
    margin-left: -11rem;
  }
  .tc {
    width: 148%;
  }
  .prs {
    margin-left: -37rem;
  }
  .foot-res {
    width: 122%;
  }
}
@media only screen and (max-width: 523px) {
  .bg-color {
    width: 148%;
  }
  .foot-res {
    width: 148%;
  }
}
@media only screen and (max-width: 425px) {
  .bg-color {
    width: 177%;
  }
  .tc {
    width: 173%;
  }
  .prs {
    margin-left: -39rem;
    margin-right: -11rem;
  }
  .foot-res {
    width: 177%;
  }
}
@media only screen and (max-width: 375px) {
  .bg-color {
    width: 177%;
  }
  .tc {
    width: 198%;
  }
  .prs {
    margin-left: -35rem;
    margin-right: -11rem;
  }
  .foot-res {
    width: 177%;
  }
}
@media only screen and (max-width: 320px) {
  .bg-color {
    width: 181%;
  }
  .prs {
    margin-left: -34rem;
  }
  .foot-res {
    width: 181%;
  }
}
b {
  font-family: sans-serif;
  font-size: 1.15rem;
}
.bg-color {
  background-color: #ffc008;
}
.headline {
  padding-top: 4rem;
  padding-right: 20rem;
  padding-left: 19rem;
  padding-bottom: 3rem;
}
.font-light {
  font-size: 6rem;
  color: #f9f9f9;
  background-color: #100f0f;
  cursor: pointer;
  font-family: sans-serif;
  line-height: 1.5;
}
.animate-cl-nm:hover {
  background-color: #3e923e;
  transition: 0.15s ease-in-out;
}
.animate-dg-ed:hover {
  background-color: white;
  color: black;
  transition: 0.15s ease-in-out;
}
.animate-pr:hover {
  background-color: #ec2e2e;
  transition: 0.15s ease-in-out;
}
.tc {
  text-align: center;
  text-transform: uppercase;
}
.bt {
  border-top: 0.25px solid;
  padding-top: 1rem;
}
.bb {
  border-bottom: 0.25px solid;
  padding-bottom: 1rem;
}
.plr {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cl {
  color: #000;
  font-size: 15px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.cl:hover {
  color: #000;
}
.pt {
  padding-top: 1rem;
}
.pr {
  padding-right: 1rem;
}
.pr:hover {
  fill: #ffff;
}
.prs {
  padding-left: 41rem;
  padding-top: 3rem;
}
.prs-font {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.ml-inset {
  margin-left: 3rem;
}
.ft-inset {
  margin-top: -1rem;
  font-family: monospace;
  font-size: 1.15rem;
}
.pt-litems li {
  padding-top: 0.75rem;
}
.li-cl {
  font-size: 0.9rem;
  color: #757171;
}
.profi {
  background-color: #ffc008;
  margin-right: 13rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}
.cl-r {
  color: #ec2e2e;
}
.gd {
  margin-left: 1rem;
  border: 1px solid;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.cl-p {
  color: #b749b7;
}
.cl-g {
  color: #19a71e;
}
.cl-b {
  color: #5f87e0;
}
.lang {
  font-size: 1rem;
  margin-top: 1rem;
  color: #5f87e0;
}
.lang-cl {
  font-size: 1rem;
  color: #59a95c;
}
.lang-gd {
  margin-left: 1rem;
  border: 1px solid;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.li-cle {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #757171;
  font-style: italic;
}
.t-about {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.25rem;
  font-family: sans-serif;
  padding-top: 1.25rem;
}
.p-exp {
  font-size: 1.4rem;
  font-style: oblique;
  border-left: 0.15rem solid #ffc008;
  padding-left: 2.5rem;
}
.h-exp:hover {
  background-color: #fdcd1dfa;
}
.p-port {
  text-transform: uppercase;
  padding-top: 5rem;
  font-size: 1.65rem;
  font-family: sans-serif;
  font-weight: bold;
}
.p-exl {
  font-size: 7rem;
  border-style: dashed;
  border-width: 0.21rem;
  border-color: #f97f17;
}
.p-cl {
  color: #ff2121d1;
}
.u-st {
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-family: monospace;
  padding-top: 3rem;
}
.fita-st {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #ff2121d1;
  color: #000;
  padding: 0.25rem;
}
.fita-st:hover {
  color: #ffff;
  transition: 0.15s ease-in;
  background-color: #ff2121d1;
}
.madan-st {
  margin-top: 1.4rem;
}
.madana-st {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #f06603;
  color: #000;
  padding: 0.25rem;
}
.madana-st:hover {
  background-color: #f06603;
}
.mon-st {
  margin-top: 1.4rem;
}
.mona-st {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #0e5ae6d1;
  color: #000;
  padding: 0.25rem;
}
.mona-st:hover {
  color: #ffff;
  transition: 0.15s ease-in;
  background-color: #0e5ae6d1;
}
.and-st {
  padding-top: 1.1rem;
  font-size: 1rem;
}
.andm-st {
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  text-transform: lowercase;
  padding: 0.15rem;
  color: #000;
}
.rea-font {
  font-size: 1.75rem;
  text-decoration: underline;
  padding-top: 2rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.rea-n {
  font-size: 1.1rem;
  font-family: monospace;
  padding-left: 5rem;
}
.email {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffff;
  background-color: #000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.email:hover {
  transition: 0.25s ease-in-out;
  background-color: #ffb700;
}
.icon-r {
  width: 4.5rem;
  float: right;
  margin-top: -1.5rem;
  margin-right: 3rem;
}
.icon-p {
  cursor: pointer;
}
.foot {
  background-color: #b275e0;
  padding-top: 4rem;
  margin-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
}
.p-foot {
  text-transform: uppercase;
  font-size: 1.9rem;
  color: #f1eaea;
  font-weight: bold;
}
.p-end {
  font-size: 1.1rem;
  color: #e2e1df;
  font-family: monospace;
}
.foot-bk {
  color: #000;
  background-color: #000;
}
.foot-bk:hover {
  color: #e2e1df;
  background-color: #b275e0;
}
